<% @title = "My Projects" %>

<div class="row-fluid">
  <% if current_user.teams.empty? %>
    <div class="well">You donot belong to any teams. <%= link_to("Click here", new_team_path()) %> to create one</div>
  <% else %>
    <% current_user.teams.each do |team| %>
      <div class="well clearfix">
        <div class="span11">
          <h3 class="has-below-1"><%= link_to(team.title, team_path(team)) %></h3>
          <div class="row-fluid">
            <div class="span2">Members</div>
            <div class="span10"><%= team.users.collect(&:name).join(", ") %></div>
          </div>

          <div class="row-fluid">
            <div class="span2">Bugs pending RCA</div>
            <div class="span10"><%= team.bugs_for_rca.size %></div>
          </div>

          <div class="row-fluid">
            <div class="span2">Pending Followups</div>
            <div class="span10"><%= team.pending_follups.size %></div>
          </div>
        </div>

        <div class="sapn1">
          <%= link_to("Edit Settings", edit_team_path(team), class: "btn btn-primary") %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>