<div class="has-below">
  <b><%= link_to(root_cause.title, root_cause_path(root_cause)) %></b>
</div>
<div class="dim has-below-1"><%= auto_link(root_cause.description) %></div>
<div class="dimmer">
  <span class="small has-right"> Identified on <%= root_cause.created_at.strftime("%B %d, %Y") %></span>
  <span class="has-right">
    <%= link_to("<span class=\"label label-important\"> #{root_cause.root_cause_bugs_count} bugs </span>".html_safe, root_cause_path(root_cause)) %>
  </span>
	<span class="has-right">
    <% hash =  root_cause.followups.size > 0 ? {:data => {"original-title" => 'Followups', "content" => followups_popover(root_cause.followups)}, :rel => "popover"} : {} %>
    <%= link_to("<span class=\"label label-success\"> #{root_cause.followups.size} followups </span>".html_safe, root_cause_path(root_cause), hash) %>
  </span>
</div>

<div class="btn-group pull-right">
  <%= link_to("New Followup", new_team_followup_path(current_team, :root_cause_id => root_cause.id), :remote => true, :class => "btn btn-mini btn-success")%>
  <% if @bug %>
    <button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to((content_tag(:i,"", :class => "icon-trash") + " Remove").html_safe, team_bug_path(current_team, @bug, :rca => true, :root_cause_id => root_cause.id), :method => :put, :confirm => "Are you sure you want to remove this root cause for this bug?") %>
      </li>
    </ul>
  <% end %>
</div>