<div class="row-fluid">
  <div class="well">
    <div>
      <div class="btn-group pull-right">
        <%= link_to("Edit", edit_root_cause_path(@root_cause), :remote => :true, :class => "btn btn-success")%>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to((content_tag(:i,"", :class => "icon-trash") + " Delete").html_safe, root_cause_path(@root_cause), :method => :delete, :confirm => "Are you sure you want to delete the root cause?") %></li>
        </ul>
      </div>
      <h3><%= @root_cause.title %></h3>
    </div>
    <div class ="dim has-below-1">
      <%= auto_link(@root_cause.description) %>
    </div>

    <div class ="dimmer small">
      Identified on <%= @root_cause.created_at.strftime("%B %d, %Y") %>
    </div>
  </div>
  <div class="well" >
    <div class ="clearfix has-below-2" >
      <h4> Bugs </h4>
    </div>
    <table class="table table-stripped diag_details white-well">
      <% @bugs.each do |bug| %>
        <tr>
          <td>
           <%= render :partial => "bugs/bug", :locals => {:bug => bug, :full => true, :actions => false } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="well" >
    <div class="clearfix has-below-2">
      <%= link_to("New Follow up", new_team_followup_path(current_team, :root_cause_id => @root_cause.id), :remote => true, :class => "btn btn-success pull-right") %>
      <h4> Followups </h4>
    </div>
    <table class="table table-stripped diag_details white-well">
      <% if @followups.any? %>
      <% @followups.each do |followup| %>
        <tr>
          <td>
           <%= render :partial => "followups/followup", :locals => {:followup => followup, :full => true} %>
          </td>
        </tr>
      <% end %>
      <% else %>
      There are no follow ups for this root cause yet. <%= link_to("Click here", new_team_followup_path(current_team, :root_cause_id => @root_cause.id), :remote => true) %> to create one.

      <% end %>
    </table>
  </div>

</div>