<% @title = "Account Settings" %>

<div class="row-fluid">
  <%= simple_form_for @user, :validate => true, :html => { :class => 'form-horizontal span7 well' } do |f| %>
    <h3 class="has-left">My Settings</h3>
    <%= f.input :name %>
    <%= f.input :email, :required => true %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <div class="form-actions">
      <%= f.submit "Update", :class => 'btn btn-primary', :disable_with => "please wait.." %>
    </div>
  <% end %>

<% if !current_team || current_team.is_owner?(current_user) %>
  <div class="row-fluid">
    <%= simple_form_for current_team || Team.new(), :validate => true, :html => { :class => 'form-horizontal span7 well' } do |f| %>
      <h3 class="has-left">My Team</h3>
      <%= f.input :title %>
      <%= f.input :project_id, :label => "PT Project Id" %>
      <%= f.input :token, :label => "Your PT API token", :input_html => {:class => 'span7'} %>
      <div class="form-actions">
        <%= f.submit current_team ? "Update" : "Create", :class => 'btn btn-primary', :disable_with => "please wait.." %>
      </div>
    <% end %>
  </div>

  <% if current_team %>
  <div class="row-fluid">
    <%= simple_form_for current_team, :validate => true, :html => { :class => 'form-horizontal span7 well' } do |f| %>
      <h3 class="has-left"><%= current_team.title %> members</h3>

      <ul class="has-above-1 has-below-1">
        <% current_team.users.each do |u|%>
          <li>
            <%= u.name %> (<%= u.email%>)  <%= link_to("Remove", "") unless current_team.is_owner?(current_user) %>
          </li>
        <% end %>
      </ul>

      <%= f.input :users, :label => "Email", :input_html => { :value => nil }, :required => true %>
      <%= hidden_field_tag :add_members, true %>
      <div class="form-actions">
        <%= f.submit "Add Member", :class => 'btn btn-primary', :disable_with => "please wait.." %>
      </div>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>