<% @title = "Sign Up" %>
<% @page_action = {name: "Login", url: new_user_session_path()} %>

<div class="row-fluid">
<%= simple_form_for @user || User.new, :validate => true, :html => { :class => 'form-horizontal span7 well' } do |f| %>
  <%= f.input :name %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <input type="hidden" value="pt" name="type"/>

  <div class="control-group check_boxes required">
    <label class="control-label">
      <abbr title="required">*</abbr> Word Verification
    </label>
    <div class="controls">
      <%= recaptcha_tags :display => {:theme => "clean", :tabindex => 0} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Sign Up", :class => 'btn btn-primary', :disable_with => "please wait.." %>
  </div>
<% end %>
</div>