<div class="has-below"><b><%= link_to(bug.title, team_bug_path(current_team, bug)) %></b></div>
<div class="dim has-below-1 <%= 'truncate' unless full %>"><%= auto_link(bug.description) %></div>

<% if bug.label_list.any? %>
  <div class="dim has-below-1">
    Labels: 
    <% bug.label_list.each do |label| %>
      <span class="label"><%= label %></span>
    <% end %>
  </div>
<% end %>

<div class="dimmer">
  <span class="small has-right">Filed on <%= bug.created_at.strftime("%B %d, %Y") %></span>
  <% if bug.rca_done? %>
    <span class="small has-right">RCA done on <%= bug.conducted_at.strftime("%B %d, %Y") %></span>
  <% end %>
 <% if bug.has_root_cause? %>
    <span class="small has-right">
      <%= link_to(pluralize(bug.root_cause_bugs_count, "root cause"), team_bug_path(current_team, bug)) %>
    </span>
  <% end %>
	<div class="btn-group pull-right">
    <% if bug.ignored? %>
      <%= link_to("Include", team_bug_path(current_team, bug, :ignore => false), :method => :put, :class => "btn btn-mini") %>
      <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to((content_tag(:i,"", :class => "icon-eye-open") + " View in PT").html_safe, "https://www.pivotaltracker.com/story/show/#{bug.pt_id}", :target => "_blank")%></li>
      </ul>
    <% elsif bug.rca_done? %>
      <%= link_to("ReMark for RCA", team_bug_path(current_team, bug, :mark_done => false), :method => :put, :class => "btn btn-mini") %>
      <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to((content_tag(:i,"", :class => "icon-eye-open") + " View in PT").html_safe, "https://www.pivotaltracker.com/story/show/#{bug.pt_id}", :target => "_blank")%></li>
      </ul>

    <% else %>
      <%= link_to("Update RC", add_rca_team_bug_path(current_team, bug), :remote => true, :class => "btn btn-mini btn-success") %>
      <button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to((content_tag(:i,"", :class => "icon-check") + " Mark RCA Done").html_safe, team_bug_path(current_team, bug, :mark_done => true), :method => :put) %></li>
        <li><%= link_to((content_tag(:i,"", :class => "icon-exclamation-sign") + " Ignore Bug").html_safe, team_bug_path(current_team, bug, :ignore => true),:method => :put) %></li>
        <li><%= link_to((content_tag(:i,"", :class => "icon-eye-open") + " View in PT").html_safe, "https://www.pivotaltracker.com/story/show/#{bug.pt_id}", :target => "_blank")%></li>
      </ul>
    <% end %>
  </div>
</div>