<% @title = "Login" %>

<div class="row-fluid">

<% if false %>
<%= simple_form_for @user_session, :validate => true, :html => { :class => 'form-horizontal span6 well' } do |f| %>
  <h3 class="has-padding-left has-below-1">RCA Account</h3>
  <%= f.input :email, :required => false %>
  <%= f.input :password, :required => false %>
  <div class="control-group check_boxes">
    <div class="controls">
      <label class="checkbox">
        <%= check_box_tag "user_session[remember_me]", "1", false, :class => "check_boxes" %>
        Remember me
      </label>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Login", :class => 'btn btn-primary', :disable_with => "please wait.." %>
  </div>
<% end %>
<% end %>

<%= simple_form_for @user_session, :url => pt_login_user_sessions_path(), :validate => true, :html => { :class => 'form-horizontal span6 well' } do |f| %>
  <h3 class="has-padding-left has-below-1"><%= image_tag("pivotal-tracker.jpg", width: 20)%> Pivotal Account</h3>
  <%= f.input :email, :required => false, :label => "Pivotal Email" %>
  <%= f.input :password, :required => false %>

  <div class="form-actions">
    <%= f.submit "Login", :class => 'btn btn-primary', :disable_with => "please wait.." %>
  </div>
<% end %>
</div>