<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to("RCA Made Easy" + (current_team.present? ? " - #{current_team.title}" : ""), root_path, :class => "brand")%>

      <% if current_user %>
        <ul class="nav">
          <li class="<%= 'active' if @tab.nil? || @tab == TabConstants::HOME %>">
            <%= link_to("Home", root_path) %>
          </li>

          <% if current_team %>
            <li class="<%= 'active' if @tab == TabConstants::ROOT_CAUSES %>">
              <%= link_to("Common Root Causes", root_causes_path) %>
            </li>
            
            <li class="dropdown <%= 'active' if @tab == TabConstants::ARCHIVE %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Archived <b class="caret"></b> </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Bugs", team_bugs_path(current_team) %></li>
                <li class="divider"></li>
                <li><%= link_to "All Follow-ups", team_followups_path(current_team) %></li>
              </ul>
            </li>

            <li class="dropdown <%= 'active' if @tab == TabConstants::MEETINGS %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reports <b class="caret"></b> </a>
              <ul class="dropdown-menu">
                <li> <%= link_to "Bugs Report", bug_report_reports_url %> </li>
                <li class="divider"></li>              
                <li> <%= link_to "Followups Report", followups_report_reports_url %> </li>
              </ul>
            </li>
          <% end %>

          <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
          </form>
        </ul>
      <% end %>

      <ul class="nav pull-right">
        <% if current_user %>
          <li class="dropdown">
            <%= link_to(('My Projects <b class="caret"></b>').html_safe, "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}) %>
            
            <ul class="dropdown-menu">
              <% current_user.teams.each do |team| %>
                <li><%= link_to team.title, team_path(team) %></li>
              <% end %>

              <% if current_user.teams.size != 1 %>
                <li class="divider"></li>
                <li><%= link_to "View all", root_path() %></li>
              <% end %>

              <li class="divider"></li>
              <li><%= link_to "New Projects", new_team_path() %></li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to((current_user.name + ' <b class="caret"></b>').html_safe, "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}) %>
            <ul class="dropdown-menu">
              <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", logout_path() %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to("Sign Up", new_user_path()) %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to("Login", new_user_session_path()) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>